.main_content{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo{
      font-size: 75px;
      margin-bottom: 140px;
    }
    &__slogan{
        display: flex;
        flex-direction: column;
        align-items: center;
        *{
            text-align: center;
            color: #fff;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}