@font-face {
    font-family: 'icon-font';
    src: url('../fonts/icon-font/icon-font.eot?jp4npk');
    src: url('../fonts/icon-font/icon-font.eot?jp4npk#iefix') format('embedded-opentype'),
        url('../fonts/icon-font/icon-font.ttf?jp4npk') format('truetype'),
        url('../fonts/icon-font/icon-font.woff?jp4npk') format('woff'),
        url('../fonts/icon-font/icon-font.svg?jp4npk#icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon-font' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-truck_ref:before {
    content: "\e900";
}

.icon-truck_step_deck:before {
    content: "\e902";
}

.icon-truck_van:before {
    content: "\e903";
}

.icon-facebook:before {
    content: "\e904";
}

.icon-email:before {
    content: "\e905";
}

.icon-logo:before {
    content: "\e906";
}

.icon-instagram:before {
    content: "\e907";
}

.icon-benefit_prof_team:before {
    content: "\e908";
}

.icon-benefit_no_fees:before {
    content: "\e909";
}

.icon-benefit_dispatsh:before {
    content: "\e90a";
}

.icon-trutruck_only:before {
    content: "\e90b";
}

.icon-truck_flat_deck:before {
    content: "\e90c";
}

.icon-benefit_24_support:before {
    content: "\e90d";
}

.icon-benefit_10:before {
    content: "\e90e";
}

.icon-phone:before {
    content: "\e90f";
}
