@import './montserrat';
@import './icon-fonts';
@import './variables/variables';
@import './reset-html';

@import './blocks/header/header.scss';
@import './blocks/contact-logo/contact-logo';
@import './blocks/benefits/benefits';
@import './blocks/dispatch/dispatch';
@import './blocks/question/question';
@import './blocks/contact_form/contact_form';
@import 'intl-tel-input/build/css/intlTelInput.css';

@import './blocks/footer/footer';
body{
    font-family: "Montserrat", sans-serif;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from { opacity: 0.1;}
    to { opacity: 1;}
}
.img_wrapper{
    width: 100%;
    line-height: 0;
    height: 100%;
    overflow: hidden;
    img{
        width: 100%;
        object-fit: contain;
    }
}
.icon_wrapper{
    i{
        color:inherit;
        font-size: inherit;
    }
}
.text_head{
    font-weight: bold;
    font-size: 40px;
    line-height: 1.35;
    letter-spacing: 0.05em;
    white-space: normal;
}
.text_h_18{
    font-size: 18px;
    line-height: 1.35;
    letter-spacing: 0.05em;
    white-space: normal;
}
.title_block{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.05em;
    color: inherit;
    white-space: normal;
}
.def_text{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: inherit;
    white-space: normal;
}
.uppercase{
    text-transform: uppercase;
}
.container{
    max-width: 1352px;
    padding: 0 16px;
    margin: 0 auto;
}

.iti__flag {
    background-image: url("path/to/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("path/to/flags@2x.png");
    }
}
@media only screen and (max-width: 992px) {
    .text_head {
        font-size: 30px;
    }

    .text_h_18 {
        font-size: 14px;
    }

    .title_block {
        font-size: 25px;
        line-height: 27px;
    }
    .def_text {
        font-size: 10px;
        line-height: 13px;
    }

}