.header {
    border-bottom: 106px solid $primary;
    &__wrapper{
        padding-top: 60px;
        padding-bottom: 60px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        .contact_logo{
            margin-bottom: 60px;
        }
    }
    &__content {
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logo {
        font-size: 75px;
        margin-bottom: 140px;
        color: #fff;
    }
    &__slogan {
        display: flex;
        flex-direction: column;
        align-items: center;
        * {
            text-align: center;
            color: #fff;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__bg_slider {
        position: relative;
        max-height: 940px;
        z-index: -1;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 2;
        }
    }
}


@media only screen and (max-width: 1439px) {
    .header {

    &__wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
        .contact_logo {
            margin-bottom: 40px;
        }
    }

    &__content {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__logo {
        font-size: 55px;
        margin-bottom: 100px;
        color: #fff;
    }

    &__slogan {
        * {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__bg_slider {
    }
    }
}
@media only screen and (max-width: 1200px) {
    .header {
        &__bg_slider {
            min-height: 580px;
            max-height: 580px;
            .img_wrapper{
                overflow: hidden;
                img{
                    // height: 100%;
                    width: unset;
                    object-fit: cover;
                }
            }
        }
    }

}
@media only screen and (max-width: 767px) {
    .header {
        &__wrapper {
            padding-top: 30px;
            padding-bottom: 30px;

            .contact_logo {
                margin-bottom: 30px;
            }
        }

        &__content {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__logo {
            font-size: 40px;
            margin-bottom: 50px;
        }

        &__bg_slider {
            min-height: 480px;
            max-height: 480px;
            .img_wrapper {
                img {
                    // width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

}