.contact_logo{
    line-height:40px;
    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }
    &__item{
        color: #fff;
        transition: 0.4s ease;
        font-size: 24px;
        &:hover{
            color: $primary;
            transition: 0.4s ease;
        }
    }
}

@media only screen and (max-width: 992px) {
    .contact_logo {
        line-height: 30px;
        &__item {
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .contact_logo {
        line-height: 25px;

        &__item {
            font-size: 12px;
        }
    }
}