.dispatch{
    max-width: 768px;
    margin: 0 auto 100px;
    &__title{
        margin-bottom: 52px;
        .text{
            text-align: center;
        }
    }
    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item{
        min-width: 256px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 170px;
        min-height: 170px;
        gap: 15px;
        padding: 41px 38px 35px;
        border: 1px solid rgba(11, 34, 92, 0.05);
        margin-right: -1px;
        margin-bottom: -1px;
        transition: 0.3s ease;
        &:hover{
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
            rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            transition: 0.3s ease;
        }
        .icon_wrapper{
            color: $secondary;
            font-size: 40px;
        }
        .descr{
            max-width: 180px;
            .text{
                white-space: normal;
                font-size: 14px;
                line-height: 17px;
                &.title{
                    font-weight: 600;
                    text-align: center;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #000;
                }
                &.exp{
                    font-size: 14px;
                    line-height: 17px;
                    color: rgba(0, 0, 0, 0.5);
                    margin-top: 5px;
                }
            }
        }
        &.last_two{
            width: 50.1%;
        }
        &.last_one {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 800px) {
    .dispatch {
        margin-left: 16px;
        margin-right: 16px;
    }
}